button {
    border-radius: var(--radius);
    padding: 0.625rem 0.9375rem;
    align-self: flex-start;
    margin: 0.375rem;
    background-color: var(--color-yellow);
    border: none;
    color: var(--color-black);
    font-weight: 500;
}

button:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
    border: none;
    box-shadow: var(--shadow-md);
    transition: var(--transition);
}

