button {
    border-radius: 8px;
    padding: 8px 14px;
    align-self: flex-start;
    margin: 6px;
    background-color: rgb(255, 187, 0);
    border: none;
    color: black;
    font-weight: 500;
}

button:hover {
    background-color: rgb(255, 170, 0);
    color: black;
    border: none;
}