button {
    border-radius: var(--radius);
    padding: 8px 14px;
    align-self: flex-start;
    margin: 6px;
    background-color: var(--color-yellow);
    border: none;
    color: var(--color-black);
    font-weight: 500;
}

button:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
    border: none;
}