.nav {
    padding: 20px;
    display: inline-flex;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.nav-link {
    color: white;
    margin: 0 10 0 10px;
}

.nav-link:link {
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover ,.nav-link:active {
    color: rgb(255, 187, 0);
    transform: translateY(-1px);
    background: rgba(0,0,0,0.05);
}

.dropdown-menu {
    background-color: gray;
}

.dropdown-item:link {
    color: white;
}

.dropdown-item:visited {
    color: white;
}

.dropdown-item:hover, .dropdown-item:active {
    color: rgb(255, 187, 0);
    background: rgba(0,0,0,0.05);
}

@media (hover: hover) and (min-width: 768px) {
  .nav-item.dropdown:hover > .dropdown-menu {
    display: block;              /* sichtbar machen */
    visibility: visible;
    opacity: 1;
  }

  /* Optional: Active-Look beim Hover auf dem Toggler */
  .nav-item.dropdown:hover > .nav-link {
    background: rgba(0,0,0,0.05);
  }
}