.nav {
    padding: 20px;
    display: inline-flex;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.nav-link {
    color: white;
    margin: 0 10 0 10px;
}

.nav-link:hover {
    color: white;
    
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
}

