.nav {
    padding: 20px;
    display: inline-flex;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.nav-link {
    color: white;
    margin: 0 10 0 10px;
}

.nav-link:link {
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover ,.nav-link:active {
    color: rgb(255, 187, 0);
    transform: translateY(-1px);
}

.dropdown-menu {
    background-color: gray;
}

.dropdown-item:link {
    color: white;
}

.dropdown-item:visited {
    color: white;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color: gray;
    color: rgb(255, 187, 0);
}