@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-gray: #5a5a5a;
  /*Untergeordneten Schriften*/
  --color-yellow: #ffbb00;
  /*Aktzentfarbe*/
  --color-black: #1a1a1a;
  /*Standardschriftfarbe*/
  --color-white: #f4f8ff;
  /*Hintergrund*/

  --font-heading: 'Bungee';
  --font-text: 'Inter', sans-serif;

  --max-width: 90vw;
  --radius: 0.5rem;

  --shadow-sm: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.08);
  --shadow-md: 0 0.25rem 1rem rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 0.5rem 2rem rgba(0, 0, 0, 0.16);
  
  --transition: 260ms cubic-bezier(.2, .8, .2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-white);
  font-family: var(--font-text);
}